body {
  font-family: Arial, sans-serif;
  background-color: #e6f7ff;
  text-align: center;
  padding: 40px;
}

h1, h2 {
  color: #003366;
}

p {
  font-size: 16px;
}

input, select {
  padding: 8px;
  width: 250px;
}

button {
  padding: 10px 20px;
  background-color: #a7b6c2;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005fa3;
}

